<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/rniarzz"
        android:label="rniarzz"
        android:roundIcon="@drawable/rniarzz"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld"
        tools:targetApi="31">

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="geo"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ActivityHomepage" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.CountActivity" />
        <activity android:name=".activity.ScrollingActivity" />
        <activity android:name=".activity.FirstActivity" />
        <activity android:name=".activity.SecondActivity" />
        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".activity.MainMaps" />
        <activity android:name=".activity.FragmentActivity" />
        <activity android:name=".activity.PlayerActivity" />

        <receiver android:name="com.helloworld.activity.AlarmReceiver" />
    </application>
</manifest>